
@{
    ViewBag.Title = "Index";
}

<h2>Generar Prestamo</h2>
<table class=" table table-hover">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Monto</th>
            <th>Cuota</th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>

